//section intro
.intro {
    position: relative;
    background-color: $c-text;
    overflow: hidden;
    &__conteneur{
        position: relative;
        margin: 132px  0px 49px 0px;
        z-index: 2;
    }
}



.intro {
    &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('/assets/images/image__neuron.gif');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover; 
    z-index: 1;
    opacity: 0.6;
    }
    &--degrader {
        &::before {
            background: linear-gradient(to bottom, transparent, mistyrose),
             url("/assets/images/image__neuron.gif");
        }
    }
}

.intro__titre{
    color: $c-with;
    font-size: $size-titre-tel;
    font-family: "Plus Jakarta Sans", sans-serif;
    .intro__titreAccent{
        color: $c-with;
        text-shadow: $c-mauve 1px 1px 20px;
    }
}
.intro__text{
    color: $c-with;
}

//surtitre
.intro{
    &__surTitre{
        @include surTitre--style();
    }
}

.loi, .economie{
    &__surTitre{
        @include surTitre--style($c-mauve);
    }
}

//btn
.btn__click {
    &--primary { @include btn--primary();}
    &--dark { @include btn--dark();}
    &--light { @include btn--light();}
}
.loi__senat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: $size-l-tel;
}

//section loi

.cadreInfo__contenu {
    border: 1px solid $c-text;
    border-radius: $size-m-tel;
    margin-top: $size-medium-tel;
    padding: $size-l-tel;
}
.cadreInfo__img {
    width: 100%;
    background-color: $c-lila;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;//
    }
    video {
        display: block;
        width: 100%;
        height: auto; 
    }
    iframe {
        display: block;
        width: 100%;
    }
}

.cadreInfo__header {
    display: flex;
    align-items: center;
    gap: $size-s-tel;
    margin-bottom: $size-m-tel;
    i{ 
        color: $c-mauve;
        font-size: $size-m-tel;
    }
}


//flashcard

.flashCard{
    width: 100%;
    padding-top: $size-medium-tel;
    
}
.flashCard__conteneur{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $size-l-tel;
}
.flashCard__carte{
    width: 100%;
    height: 360px;
}
.flashCard__inner{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;

    //pour retourner la carte
    &.is-flipped{
        transform: rotateY(180deg);
    }
}
.flashCard__face{
    position: absolute;
    width: auto;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 3px 18px 3px rgba($color: #000000, $alpha: 0.2);
    background-color: $c-rose;
}
.flashCard__face--front{
    background-color: $c-rose;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px;
    height: 300px;
    
    h3{
        color: $c-noir;
        font-size: 28px;
        font-family: "Plus Jakarta Sans", sans-serif;
        text-transform: none;
    }
}

.flashCard__face--back{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    padding: $size-text-tel;
    height: 324px;
}
.flashCard__content{
    width: 100%;
}
.flashCard__header{
    position: relative;
    h3{
        color: $c-noir;
        font-size: 23px;
        font-family: "Plus Jakarta Sans", sans-serif;
    }
}
.flashCard__body{
    p{
        margin: 0;
        line-height: 1.5;
    }
}

.flashCard__carte--second{
    .flashCard__face{
        background-color: $c-vert;
    }
}
.flashCard__carte--terce{
    .flashCard__face{
        background-color: $c-lila;
    }
}