//section intro
.intro {
    position: relative;
    background-color: $c-text;
    overflow: hidden;
    &__conteneur{
        position: relative;
        margin: clamp(132px, 2.879vw + 122.212px, 151px) 0px clamp($size-titre-tel, 0.303vw + 47.97px, $size-sousTitre-pc) 0px; 
        z-index: 2;
    }
}


.intro {
    &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('/assets/images/image__neuron.gif');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover; 
    z-index: 1;
    opacity: 0.6;
    }
    &--degrader {
        &::before {
            background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)),
             url("/assets/images/image__neuron.gif");
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover; 
            background-repeat: no-repeat;
        }
    }
}

.intro__titre{
    color: $c-with;
    font-size: clamp($size-titre-tel, 11.364vw - 4.636px, $size-titre-pc);
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 1;
    margin-bottom: clamp($size-sousTitre-tel, 4.688vw + 15.125px, $size-1medium-pc);
    margin-top: clamp($size-sousTitre-tel, 1.25vw + 29.5px, $size-xxl-pc);
    .intro__titreAccent{
        color: $c-mauve;
    }
}
.intro__titre--noir{
    @include titre--h2();
}
.intro__text{
    color: $c-with;
}

//surtitre
.intro{
    &__surTitre{
        @include surTitre--style();
    }
}

//article
.article {
    &__surTitre{
        @include surTitre--style($c-mauve);
    }
}

.article__texteIntro--hauteur{
    margin-bottom: clamp(#{$size-l-tel}, 0.938vw + 19.625px, #{$size-l-pc});
}

//btn
.btn__click {
    &--primary { @include btn--primary();}
    &--dark { @include btn--dark();}
    &--light { @include btn--light();}
}
.article__senat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: clamp(#{$size-l-tel}, 0.938vw + 19.625px, #{$size-l-pc});
    .btn__click{
        margin-top: 0px;
    }
    @media (min-width: 700px){
        flex-direction: row;
        gap: clamp(#{$size-s-tab}, 0.5vw + 12px, #{$size-s-pc});
    }
}

//cadreInfo

.cadreInfo__contenu {
    border: 1px solid $c-text;
    border-radius: clamp(#{$size-m-tel}, 0.758vw + 16.424px, #{$size-m-pc});
    margin-top: clamp(#{$size-medium-tel}, 3.182vw + 30.182px, #{$size-1medium-pc});
    padding: clamp(#{$size-l-tel} , 0.455vw + 21.455px, #{$size-l-pc});
    @media (min-width: 950px){
        margin-top: 0;
    }
}
.cadreInfo__img, .cadreInfo__video {
    width: 100%;
    //background-color: $c-lila; // manipe en js
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;// mettre tout l'image pour sont contenu
    }
    video {
        display: block;
        width: 100%;
        height: auto; 
    }
    iframe {
        display: block;
        width: 100%;
        height: 50%;
    }
}

.cadreInfo__header {
    display: flex;
    align-items: center;
    gap: clamp(#{$size-s-tel}, 0.152vw + 12.485px, #{$size-xs-pc});
    margin-bottom: clamp(#{$size-m-tel}, 0.758vw + 16.424px, #{$size-m-pc});
    i{ 
        color: $c-mauve;
        font-size: clamp(#{$size-m-tel}, 0.758vw + 16.424px, #{$size-m-pc});
    }
}



//flashcard

*, *::before, *::after {
    box-sizing: border-box;
  }

.flashCard{
    width: 100%;
    padding-top: clamp(#{$size-medium-tel}, 3.182vw + 30.182px, #{$size-1medium-pc});
    padding-bottom: clamp(#{$size-medium-tel}, 3.182vw + 30.182px, #{$size-1medium-pc});
}
.flashCard__conteneur{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(#{$size-l-tel}, 3.462vw + 11.231px, #{$size-xl-tab});
    @media (min-width: 950px) {
        flex-direction: row;
        align-items: stretch; //pour s'adapter aux conteneur
        justify-content: center;
        gap: $size-text-pc;
    }
}
.flashCard__carte{
    width: 100%;
    height: 360px;
    @media (min-width: 600px) {
        width: 80%;
        height: 300px;
    }
    @media (min-width: 950px) {
        width: 30%;
        height: 340px;
    }
}
.flashCard__inner{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;

    //pour retourner la carte
    &.is-flipped{
        transform: rotateY(180deg);
    }
}
.flashCard__face{
    position: absolute;
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    //overflow: hidden;
    border-radius: clamp(#{$size-text-tel}, 1.333vw + 8px, #{$size-text-pc});
    box-shadow: 0 3px 18px 3px rgba($color: #000000, $alpha: 0.2);
    background-color: $c-rose;
    .menu__ico{
        margin-top: clamp(#{$size-xl-tel}, 0.152vw + 27.485px, #{$size-l-pc});
    }
    &:hover{
        transform: scale(0.9);
    }
    @media (min-width: 950px) {
        width: 100%;
        height: auto;
    }
}
.flashCard__face--front{
    background-color: $c-rose;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(#{$size-xl-tel}, 0.152vw + 27.485px, #{$size-l-pc});
    @media (min-width: 950px) {
        width: 100%;
        height: 100%;
    }
    
    h3{
        color: $c-noir;
        font-size: clamp(#{$size-xl-tel}, 0.152vw + 27.485px, #{$size-l-pc});
        font-family: "Plus Jakarta Sans", sans-serif;
        text-transform: none;
        @media (min-width: 950px) {
            font-size: $size-m-pc;
        }
    }
}

.flashCard__face--back{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    padding: clamp(#{$size-text-tel}, 0.667vw + 12px, #{$size-text-pc});
}
.flashCard__content{
    width: 100%;
}
.flashCard__header{
    position: relative;
    h3{
        color: $c-noir;
        font-size: clamp(#{$size-l-tel}, 0.909vw + 19.909px, #{$size-l-pc});
        font-family: "Plus Jakarta Sans", sans-serif;
        @media (min-width: 950px) {
            font-size: $size-m-pc;
        }
    }
}
.flashCard__body{
    p{
        margin: 0;
        line-height: 1.5;
    }
}

.flashCard__carte--second{
    .flashCard__face{
        background-color: $c-vert;
    }
}
.flashCard__carte--terce{
    .flashCard__face{
        background-color: $c-lila;
    }
}

