.altern__contenu{
    @include conteneur();
}
.altern__liste{
    list-style: none;
    margin: 0;
    padding: 0;
}

.altern__el{
    border-top: 2px solid $c-gridmauve;
    border-radius: $size-s-tel;
    margin-top: $size-titre-tel;
    padding-top: $size-l-tel;
}
.altern__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $size-s-tel;
}
.altern__img{
    width: clamp(#{$size-medium-tel}, 3.182vw + 30.182px, #{$size-1medium-pc});
    height: clamp(#{$size-medium-tel}, 3.182vw + 30.182px, #{$size-1medium-pc});
    border-radius: clamp(#{$size-medium-tel}, 3.182vw + 30.182px, #{$size-1medium-pc});
}
@media (min-width: 1000px){
    .altern__el{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $size-text-pc;
        .btn__click{
            margin-left: auto;
            overflow: hidden;
            white-space: nowrap; //pour qu'il sois sur une ligne
            flex-shrink: 0; //et qu'il y ais pas d'over flow
        }
    }
    .altern__page{
        display: flex;
        flex-direction: column;
    }
}

