.categories{
    position: relative;
    padding-top: $size-medium-tel;
    //pading bootonm ?
}
.categories__conteneur{
    @include conteneur();
    display: flex;
    flex-direction: column;
    gap: $size-m-tel;
}
.groupe{
    border: 2px solid $c-mauve;
    border-radius: $size-l-tel;
    padding: $size-m-tel;
    background-color: $c-with;
}
.groupe__header{
    display: flex;
    align-items: center;
    gap: $size-s-tel;
    margin-bottom: $size-m-tel;
}
.groupe__icone{
    font-size: $size-m-tel;
    border-radius: $size-xxs-tel;
}
.groupe__titre{
    margin: 0 ;
}
.groupe__texte{
   margin: 0 0 $size-m-tel 0;
}
.groupe__btn{
    display: flex;
    flex-wrap: wrap;
    gap: $size-s-tel;
}


//btn sur les groupe

.group__link{
    display: inline-block;
    padding: $size-s-tel $size-m-tel;
    border: 2px solid $c-gridmauve;
    border-radius: $size-xl-tel;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $c-gridmauve;
    font-size: $size-text-tel;
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
    color: $c-noir;
    transition: transform 0.1s ease;
    &:hover{
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        transform: translateY(-2px);
    }
    &:active{
        box-shadow: none;
        transform: translateY(2px);
    }
}
.group__link--rose{
    background-color: $c-rose;
}
.group__link--bleu{
    background-color: $c-bleu;
}
.group__link--lila{
    background-color: $c-lila;
}
.group__link--vert{
    background-color: $c-vert;
}

//oeil
/*
@keyframes scrollOeuil {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(calc(30vh - 100px));
    }
}
*/
.oeil{
   // position: relative;
    top: 50%;
    //transform: rotateY(-50%);
    width: 100%;
    text-align: center;
}

.oeil__rond{
    width: 50vw;
    height: 50vw;
    background-color: $c-with;
    border-radius: 50%;
    border: 2px solid $c-gridmauve;
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    @media (min-width: 600px) {
        width: 30vw;
        height: 30vw;
    }
    @media (min-width: 950px) {
        width: 20vw;
        height: 20vw;
    }
}

.oeil__pupille{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 50%;
   // transform: translateX(-50%);
    border-radius: 50%;
    background-color: $c-noir;
    border: 15px solid $c-mauve;
   // animation: scrollOeuil linear;
   // animation-timeline: scroll(root block);
    &--zom{
        transform: scale(1.2);
    }
   @media (min-width: 600px) {
    width: 150px;
    height: 150px;
    border: 30px solid $c-mauve;
    }
    @media (min-width: 950px) {
        width: 100px;
        height: 100px;
        border: 20px solid $c-mauve;
    }
}


//Calculateur

.calculateur{
    &__surTitre{
        @include surTitre--style($c-mauve);
    }
}
.calculateur__conteneur{
    @include conteneur();
}
.calculateur__TitreDonner{
    @include titre--h3();
}
.calculateur__donner{
    display: flex;
    flex-direction: column;
    gap: $size-xxs-tel;
    .calculateur__TitreDonner{
        margin-top: 20px;
    }
}
.calculateur__imc{
    display: flex;
    flex-direction: row;
    gap: $size-l-tel;
}
.calculateur__uniter{
    display: flex;
    flex-direction: row;
    gap: $size-xxs-tel;
}
.calculateur__input{
    width: 100%;
    height: $size-titre-tel;
    padding: $size-xxs-tel $size-text-tel;
    border: 2px solid $c-gridmauve;
    border-radius: $size-xxs-tel;
    font-size: $size-text-tel;
    outline: none;
    box-sizing: border-box;
    margin-bottom: $size-l-tel;
    &::placeholder{
        color: $c-text;
    }
}
.calculateur__reponce{
    background-color: $c-lila;
    border-radius: $size-text-tel;
    padding: $size-m-tel;
}