

    .menu{
        position: fixed;
        top: 0;
        width: 100%;
        box-sizing: border-box; //pour prende en compre le border et le pading
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba($c-gridmauve, 0.6);
        backdrop-filter: blur(7px);
        padding: clamp( #{$size-s-tel}, 5.417vw - 6.5px,#{$size-l-tab});
        border: 2px solid $c-with;
        .menu__liste{
            position: fixed;
            top: 6em; 
            left: 15%;
            width: 70%;
            box-sizing: border-box;
            border-radius: $size-s-tel;
            padding: clamp( #{$size-m-tel}, 2.692vw - 9.846px ,#{$size-l-tab});
            margin: 0;
            z-index: 30;
            display: none;
            
            @media (min-width: 950px) {
                position: static;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 $size-s-pc;
                padding: 0;
                .menu__el:first-child{
                    border-left: 2px solid $c-text;
                }
            }
        } 
        .menu__liste::before{
            content: '';
            position: absolute;
            top: -1em;
            left: 50%;
            transform: translate(-80%);// on le recule de la moitier de sa propre longeur ( le menu n'ai pas tout a faiis centrer)
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid $c-lila;
            @media (min-width: 600px) {
                transform: translate(-40%);
            }
            @media (min-width: 950px) {
                display: none;
            }
        }
    }
    .menu__toggle{
        width: $size-hauteur-tel;
        height: $size-hauteur-tel;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 20;
        background-color: $c-lila;
        border-radius: $size-sousTitre-tel; 
        border: none;
        @media (min-width: 600px) {
            width: $size-1medium-tab;
            height: $size-1medium-tab;
            border-radius: $size-xxl-tab;
        }
        @media (min-width: 950px) {
            display: none;
        }
    }

    .menu--open .menu__liste{
        display: block;
        background-color: $c-lila;
        z-index: 30;
        @media (min-width: 950px) {
            display: none;
        }
    }
    .menu__titreProtocol, .menu__titrindic{
        font-size: clamp(13px, 0.789vw + 10.316px, 19px);

    }
    .menu__titreProtocol{
        &--long{
            display: none;
            @media (min-width:600px){
                display: inline; 
            }
        }
        &--court{
            display: inline;
            @media (min-width:600px){
                display: none; 
            }
        }
    }
    .menu__el{
        list-style: none;
        margin: clamp(#{$size-text-tel}, 0.769vw + 13.385px,#{$size-text-tab});
        &:hover{
            transform: translate( 6px, 0px );
        }
        @media (min-width: 950px) {
            margin: 0;
            padding: 0 clamp(5px, 7.5vw - 70px, 20px);
            border-right: 2px solid $c-text;
            &:hover{
                transform: translate( 0px, -6px );
            }
            &:active{
                transform: translate( 0px, 0px );
            }
        }
    }
    .menu__link{
        font-size: clamp(#{$size-l-tel}, 1.154vw + 19.077px,#{$size-l-tab});
        text-decoration: none;
        color: $c-mauve;
        &:hover{
            filter: brightness(1.2);
        }
        &.active{
            text-shadow: $c-text 1px 1px 3px;
        }
        @media (min-width: 950px) {
            font-size: $size-text-pc;
        }
    } 
    .menu__logo{

        .menu__link{
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: clamp(#{$size-s-tel}, 1.061vw + 9.394px,#{$size-text-pc});
        }
    }
    .menu__ico{
        width: clamp(#{$size-m-tel}, 2.879vw + 6.212px,#{$size-xl-pc});
        height: clamp(#{$size-m-tel}, 3.485vw + 7.152px, #{$size-xxl-pc});
    }
    .menu__indicateur{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: clamp(#{$size-s-tel}, 1.061vw + 9.394px,#{$size-text-pc});
        .menu__titrindic{
            width: 5em;
            margin: 0;
            @media (min-width:600px){
                    width: 9em;
            }
        }
        .menu__valeur{
            display: flex;
            align-items: center;
            color: $c-mauve;
            margin: 0;
        }
    }
