body {
  font-family: sans-serif;
  font-size: clamp(#{$size-text-tel}, 1.333vw + 8px, #{$size-text-pc});
  line-height: 1.5;
  color: $c-text;
  margin: 0;
  background-color: $c-with;
}
p{
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}

h2 { 
  @include titre--h2();
}
h3, .titre__style--trois { 
  @include titre--h3();
}

.intro, .article, .flashCard, .footer, .altern{
  &__conteneur{
    @include conteneur();
  }
}
.lien__texte{
  color: $c-mauve;
  font-style: italic;
  //text-decoration: none;
  cursor: pointer;
}
//footer
.footer{
  background-color: $c-noir;
  padding: $size-xl-tel $size-m-tel;
}