@mixin conteneur {
    padding-left: 19px;
    padding-right: 19px;
    @media (min-width: 600px) {
        padding-left: $size-xxl-tab;
        padding-right: $size-xxl-tab;
    }
    @media (min-width: 900px) {
        padding-left:  $size-xl-pc;
        padding-right: $size-xl-pc;
    }
  }
// mixin pour avoir le meme style mais $color legerment different pour loi et economie
@mixin surTitre--style($color: $c-with){
    text-transform: uppercase;
    color: $color;
    font-family: "Space Grotesk", sans-serif;
    margin-top: 60px;
}
@mixin titre--h2{
    font-family: "Plus Jakarta Sans", sans-serif;
    color: $c-noir;
    font-size:clamp(#{$size-xl-tel}, 3.594vw + 15.062px, #{$size-sousTitre-pc});
    margin: clamp(30px, 0.781vw + 27.188px, 35px) 0 clamp(30px, 0.781vw + 27.188px, 35px) 0;
}

@mixin titre--h3(){
    text-transform: uppercase;
    font-family: "Space Grotesk", sans-serif;
    color: $c-noir;
    font-size: clamp(#{$size-text-tel}, 1.333vw + 8px, #{$size-text-pc});
    margin: 0;
}
//btn
@mixin btn--base{
    display: inline-block;
    padding: clamp(#{$size-m-tel}, 0.781vw + 16.188px, #{$size-m-pc});
    font-size: clamp(#{$size-text-tel}, 1.333vw + 8px, #{$size-text-pc});
    font-family: "Space Grotesk", sans-serif;
    border-radius: $size-xl-tel;
    border: none;
    margin: clamp(#{$size-l-tel}, 0.938vw + 19.625px, #{$size-l-pc}) 0px;
    text-decoration: none;
    &:hover{
        transform: scale(1.04);
        cursor: pointer;
        filter: brightness(1.5);
    }
    &:active{
        transform: scale(0.98);
        filter: brightness(50%);
    }
    @media (min-width: 600px) {
        border-radius: $size-1medium-tab;
    }
    @media (min-width: 900px) {
        border-radius: $size-1medium-pc;
    }
}

@mixin btn--primary{
    @include btn--base();
    background-color: $c-mauve;
    color: $c-with;
}

@mixin btn--dark{
    @include btn--base();
    background-color: $c-noir;
    color: $c-with;
}

@mixin btn--light{
    @include btn--base();
    background-color: #878E9490;
    color: $c-with;
    border: 2px solid $c-with;
}
