$c-with: #F8F9FA;
$c-text: #878E94;
$c-mauve:#6466ED;
$c-noir: #202223;
$c-lila:#EBECF5;
$c-vert:#EBF4EF;
$c-rose:#F4EBF4;
$c-bleu:#E9F4FF;
$c-gridmauve:#E3E7EF;

$size-text: 18px;

$size-xxs-tel:9px;
$size-xs-tel:11px;
$size-s-tel:13px;
$size-text-tel:16px;
$size-m-tel:19px;
$size-l-tel:23px;
$size-xl-tel:28px;
$size-sousTitre-tel:34px;
$size-medium-tel:41px;
$size-titre-tel:49px;
$size-hauteur-tel:60px;


$size-xxs-tab:10px;
$size-xs-tab:12px;
$size-s-tab:15px;
$size-text-tab:18px;
$size-m-tab:22px;
$size-l-tab:26px;
$size-xl-tab:32px;
$size-xxl-tab:38px;
$size-sousTitre-tab:46px;
$size-1medium-tab:56px;
$size-2medium-tab:67px;
$size-titre-tab:81px;
$size-hauteur-tab:98px;

$size-xxs-pc:11px;
$size-xs-pc:14px;
$size-s-pc:17px;
$size-text-pc:20px;
$size-m-pc:24px;
$size-l-pc:29px;
$size-xl-pc:35px;
$size-xxl-pc:42px;
$size-sousTitre-pc:51px;
$size-1medium-pc:62px;
$size-2medium-pc:75px;
$size-3medium-pc:90px;
$size-titre-pc:109px;
$size-hauteur-pc:131px;


.space-grotesk{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.plus-jakarta-sans{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.noto-sans{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
  
